body{
    margin: 0;
    padding: 0;  
    background-color: rgb(163, 163, 163);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 0;
}