@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
  --header: 200px;
  --sm-header: 56px;
  --lg-text: 24px;
  --md-text: 20px;
  --zone: 40px;
}
.App{
  width: 100%;
}
.details-div{
  transition: 1s;
}
*{
  font-family: 'Inter', sans-serif;
  color: white;
}
.watch-wrapper{
  width: 100%;
  padding-inline: 10%;
  padding-top: 233px;
  box-sizing: border-box;
}
.out-container{
  display: flex;
  flex-direction: column;
}
.welcomer{
  display: flex;
  align-items: center;
}
.welcomer>img{
  margin-right: 16px;
}
.welcomer-text{
  font-weight: 400;
  font-size: var(--md-text);
  letter-spacing: 4px;
  margin: 0;
}
.time-wrapper{
  display: flex;
  align-items: flex-end;
}
.time{
  font-weight: 700;
  font-size: var(--header); 
  margin: 0; 
}
.zone{
  font-weight: 300;
  font-size: var(--zone);
}
.location{
  margin: 0;
  font-weight: 700;
  font-size: var(--lg-text);
  letter-spacing: 4.8px;
}
.toggle-out{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 4.8px;
}
.toggle-btn{
  background-color: white;
  width: 146px;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none;
  border-radius: 28px;
  color: rgba(0, 0, 0, 0.514);
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}
.toggle-btn>img{
  background-color: #303030;
  width: 40px;
  height: 40px;
  padding-inline: 8px;
  padding-block: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: 1s;
}
.toggle-btn:hover>img{
  transform: rotate(180deg);
}
.details-div{
  margin-top: var(--sm-header);
}

.details-wrapper{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-block: 74px;
  padding-inline: 10%;
  box-sizing: border-box;
  backdrop-filter: blur(20px);
}
.details-left{
  min-width: 50%;
  border-right: 1px solid black;
  margin-right: 94px;
}
.detail-meek-text{
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 3px;    
}
.detail-bold-text{
  font-weight: 700;
  font-size: var(--sm-header);
  margin: 0;
  margin-bottom: 42px;
}
@media only screen and (max-width: 900px){
  :root{
    --header: 175px;
    --sm-header: 40px;
    --lg-text: 18px;
    --md-text: 18px;
    --zone: 32px;
  }
  .toggle-out{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 164px;
  }
  .watch-wrapper{
    padding-top: 388px;
  }
  .details-left{
    border: none;
  }
}
@media only screen and (max-width: 630px){
  :root{
    --header: 100px;
    --sm-header: 20px;
    --lg-text: 15px;
    --md-text: 15px;
    --zone: 15px;
  }
  .temporaryText{
    display: none;
  }
  .watch-wrapper{
    padding-top: 227px;
  }
  .inner-detail{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 16px;
  }
  .details-wrapper{
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 48px;
  }
  .details-left{
    margin: 0;
  }
  .detail-bold-text, .detail-meek-text{
    margin: 0;
  }

}